body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #808080;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
    padding: 50px;
}

.modulos {
    border: 2px solid #808080;
    border-radius: 15px;
    background-color: #5f5f5f;
    color: white;
    margin-bottom: 20px;
}

.card {
    background-color: #5f5f5f;
    border: 2px solid #808080;
    border-radius: 20px;
    color: #efefef;
}

button {
    font-size: 25px;
    border: 0;
    background-color: #5f5f5f;
    color: white;
}

button:hover {
    color: white;
    border: 0px;
    border-bottom: 1px solid black;
}

.card-body1 {
    text-align: center;
    margin:0 auto;
}

.card-body1 > h3 {
    background-color: #292929;
    padding: 10px;
    border-radius: 10px;
}

.card-body2 {
    text-align: center;
    margin:0 auto;
}

.card-body2 > h3 {
    background-color: #292929;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: gray;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.mapa {
    margin: 0 auto;
}

h4 {
    color: white;
}