// Anidación
.caja {
    h2 {
        color: black;
        font-family: Arial;
    }

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline;
        font-size: 25px;
    }
}