@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$max-width: 1400px;
$default-margenes: 0;
$centrar-margin: 0 auto;
$padding-10: 10px;
$fondo-gris: #cdcdcd;
$min-height: 20em;

$font-familys: 'Nunito', sans-serif;

$font-weights: (
    "light": 300,
    "regular": 400,
    "bold": 700
);

$font-sizes: (
    "cuerpo": 1rem,
    "h3" : 150%,
    "h2": 200%,
    "h1": 300%,
    "nav ul li": 110%,
    "footer p": 80%
);

$cuerpo: (
    "peso": 400,
    "tamano": 1rem
);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-weight:  map-get($cuerpo, "peso");
    font-size: map-get($cuerpo, "tamano");
    font-family: $font-familys;
    width: $max-width;
    margin: $centrar-margin;
}

header {
    background-color: $fondo-gris;
    text-align: center;

    a {
        text-decoration: none;
    }

    h1 {
        color: #000;
        margin: $default-margenes;
    }

    img {
        float: left;
        padding: $padding-10;
        width: 10%;
    }
}

h {
    &1 {
        font-weight: map-get($font-weights, "bold");
        font-size: map-get($font-sizes, "h1");
    }
    &2 {
        font-weight: map-get($font-weights, "bold");
        font-size: map-get($font-sizes, "h2");
    }
    &3 {
        font-weight: map-get($font-weights, "bold");
        font-size: map-get($font-sizes, "h3");
    }
}

nav {
    margin-top: 10px;
    background-color: $fondo-gris;
    
    ul {
        list-style: none;
        margin: 0;
        text-align: center;

        li:nth-child(1) {
            font-weight: map-get($font-weights, "bold");
        }
        
        li {
            display: inline-block;
            padding: 5px;
            text-transform: uppercase;
            font-size: map-get($font-sizes, "nav ul li");
            font-weight: map-get($font-weights, "regular");

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    font-weight: map-get($font-weights, "bold");
                    color: red;
                }
            }
        }
    }
}

section {
    height: $min-height;
}

footer {
    text-align: center;

    div, p {
        background-color: $fondo-gris;
        margin-top: 10px;
    }

    div {
        a {
            text-decoration: none;
        }
    }

    p {
        font-size: map-get($font-sizes, "footer p" );
    }

    img {
        margin: 5px;
        width: 3em;
    }
}